body {
    background: linear-gradient(rgb(255, 136, 196), rgb(89, 203, 232));
    font-family: 'Nunito', sans-serif;
    color: #00263e;
}

.container {
    padding: 1rem;
    position: relative;
}

/* TYPOGRAPHY */
h1 a {
    color: #00263e;
    text-decoration: none;
}

h1 {
    letter-spacing: 5px;
    align-self: center;
    margin: 0 10px;
}

h1::first-letter {
    color: rgb(255, 105, 180);
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

/* HEADER */
header {
    background-color: #fff;
}

.menu-icon {
    width: 40px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}

p {
    font-weight: bold;
}

header .flex-container {
    display: flex;
    justify-content: space-between;
}
header a svg {
    width: 15px;
    height: 15px;
}
/* MAIN NAV */
.main-menu li {
    line-height: 85px;
    margin: 0 25px;
    border-bottom: 1px solid #e3eaf3;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.main-menu li:last-of-type {
    border-bottom: none;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #8c6eaf;
    font-weight: 700;
    padding: 0 10px;
    display: block;
    display: flex;
    align-items: center;
} 

.main-menu a:hover,
.main-menu a:active {
    background-color: #e3eaf3;
    border-radius: 5px;
}

.dropdown-menu a  {
    color: #00263e;
    font-weight: 700;
    text-transform: none;
}  

.main-menu svg:last-of-type {
    /* this only works in a flex container */
    margin-left: auto;
}

.main-menu svg:first-of-type {
    margin-right: 10px;
}

/* Hide/Show the dropdowns with hover effect */
.dropdown-menu {
    max-height: 0;
    overflow: hidden;
}

.main-menu li:hover >.dropdown-menu {
    max-height: 100vh;
}

/* hide/show main menu with toggle icon */
nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    transition: max-height 0.5s ease;
}

.show-nav {
    max-height: 100vh;
}

@media only screen and (min-width: 1000px) {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 79.125rem;
        margin: 0 auto;
    }

    .menu-icon {
        display: none;
    }

    header nav {
        overflow: visible;
        position: static;
        width: auto;
    }

    header .flex-container {
        display: flex;
        justify-content: space-between;
    }

    ul.main-menu, header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ul.main-menu li {
        flex: 1 0 auto;
        white-space: nowrap;
        text-align: center;
        position: relative;
        line-height: 55px;
        border-bottom: 0;
        margin-bottom: 0;
    }

    .main-menu li:nth-child(3) {
        margin-right: 0;
    }

    .main-menu li:nth-child(1) {
        margin-left: 0;
    }

    .main-menu svg:last-of-type {
        /* this only works in a flex container */
        margin-left: 0.5rem;
    }

    ul.dropdown-menu {
        padding: 0;
        position: absolute; 
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
    }

    ul.dropdown-menu li {
        margin: 0;
    }

    ul.dropdown-menu a {
        display: block;
    }

    ul.main-menu li:hover > ul {
        visibility: visible;
        opacity: 1;
    }

    ul.main-menu li:focus-within > ul,
    ul.main-menu li > ul:focus {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    
}

